.clear-element {
	position: relative!important;
	cursor: pointer;
}
#clearEleOverlay.clear-element-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	border: 2px solid rgba(77, 158, 78, 1);
	background-color: rgba(77, 158, 78, 0.5);
	min-height: 29px;
}
#clearEleClose.clear-element-close {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100000;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background-color: #c7462f;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}
